.legend {
  font-family: 'NeueHaasGroteskDisp Pro', Arial, Helvetica, sans-serif;
  font-weight: normal;
}

text#doughnut_title{
  font-family: 'NeueHaasGroteskDisp Pro', Arial, Helvetica, sans-serif;
  font-weight: normal;
}

text#doughnut_forras{
  font-family: 'NeueHaasGroteskDisp Pro', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: italic;
  text-decoration: underline;	

}


.legend.d_rect {
  cursor: pointer;
  stroke-width: 2;
}

.disabled {
  fill: transparent !important;
}


div#d_tooltip {
    font-size: calc(9px + .3vw);
	box-sizing: border-box;
	background-color: #FFFFFF;
	position: absolute;
	line-height: 1;
	font: 13px 'NeueHaasGroteskDisp Pro', Arial, Helvetica, sans-serif;
	text-align: center;
	padding: 4px;
	border: 0.5px solid #666;
	color: #000000;
}

span#legend_d{
	font: 14px 'NeueHaasGroteskDisp Pro', Arial, Helvetica, sans-serif;
        color: #000000;
        fill: #000000;

}
