body {
    font: 10px "Neue Haas Grotesk W01 Disp", Helvetica, Arial, sans-serif;
}

.axis {
    font: 10px "Neue Haas Grotesk W01 Disp", Helvetica, Arial, sans-serif; 
}

.legend {
    font: 12px "Neue Haas Grotesk W01 Disp", Helvetica, Arial, sans-serif; 
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

svg {
  display: block;
  margin: auto;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

#topic02-vis03-part01 {
  width: 100%;
  height: 500px;
}

#topic02-vis03-part02 {
  width: 100%;
  height: 500px;
}