.row {
    display: flex;
    font: "Neue Haas Grotesk W01 Disp", Helvetica, Arial, sans-serif;
    font-size: small;
    -webkit-overflow-scrolling: scroll;
}


.column {
    flex: 0 0 auto;
    font: "Neue Haas Grotesk W01 Disp", Helvetica, Arial, sans-serif;
    font-size: small;
}

.rTable {
    font: "Neue Haas Grotesk W01 Disp", Helvetica, Arial, sans-serif;
    display: table;
    width: 20%;
    font-size: small;
}

.rTableRow {
    display: table-row;
}

.rTableHeading {
    display: table-header-group;
    background-color: #ddd;
}

.rTableCell,
.rTableHead {
    display: table-cell;
    padding: 3px 10px;
    border: 1px solid #999999;
}

.rTableHeading {
    display: table-header-group;
    background-color: #ddd;
    font-weight: bold;
}

.rTableFoot {
    display: table-footer-group;
    font-weight: bold;
    background-color: #ddd;
}

.rTableBody {
    display: table-row-group;
}
