#topic04-nap {
    width: 100%;
    height: 500px;
}

body {
    font-family: 'NeueHaasGroteskDisp Pro', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
	fill: #000;
	color: #666;
}

svg {
    display: block;
    margin: auto;
}

.axis_04nap {
    font-family: 'NeueHaasGroteskDisp Pro', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
	fill: #000;
	color: #666;
}

.legendbar_04nap {
    font-family: 'NeueHaasGroteskDisp Pro', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
	fill: #000;
	color: #666;
}

.legendline_04nap {
    font-family: 'NeueHaasGroteskDisp Pro', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
	fill: #000;
	color: #666;
}

.title_04nap {
    font-family: 'NeueHaasGroteskDisp Pro', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
	fill: #000;
	color: #666;
}

.data_source_04nap {
    font-family: 'NeueHaasGroteskDisp Pro', Arial, Helvetica, sans-serif;
    font-style: italic;
	font-weight: lighter;
  	text-decoration: underline;
	fill: #000;
	color: #666;
}

.line_04nap {
    fill: none;
    stroke: steelblue;
    stroke-width: 2.5px;
}

.axisSteelBlue_04nap text{
    fill: #000000;
    font: 14px "Neue Haas Grotesk W01 Disp", Helvetica, Arial, sans-serif;
}

.axisRed_04nap text{
    fill: #000000;
    font: 14px "Neue Haas Grotesk W01 Disp", Helvetica, Arial, sans-serif;
}

.axis_04nap path,
.axis_04nap line_04nap {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis_04nap path {
    display: none;
}

.x.axis_04nap .domain {
    display: none;
}

.x.axis_04nap text {
    font: 13px "Neue Haas Grotesk W01 Disp", Helvetica, Arial, sans-serif;
}


.tooltip_04nap {
    position: absolute;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #6F257F;
    padding: 14px;
    text-align: center;
}
