#topic05-vis02 {
    width: 100%;
    height: 500px;
    font: "Neue Haas Grotesk W01 Disp", Helvetica, Arial, sans-serif;
}

svg_0502 {
    display: block;
    margin: auto;
}

.xaxis_0502 .domain {
    display: none;
}

.yaxis_0502 { 
    font: "Neue Haas Grotesk W01 Disp", Helvetica, Arial, sans-serif;
}

.xaxis_0502 { 
    font: "Neue Haas Grotesk W01 Disp", Helvetica, Arial, sans-serif;
}

.title_0502 {
    font-family: 'NeueHaasGroteskDisp Pro', Arial, Helvetica, sans-serif;
    font-weight: normal;
	fill: #000;
	color: #666;
}

.data_source_0502 {
    font-family: 'NeueHaasGroteskDisp Pro', Arial, Helvetica, sans-serif;
    font-style: italic;
	font-weight: lighter;
  	text-decoration: underline;	
	fill: #000;
	color: #666;
}

.legend_0502 {
    font: "Neue Haas Grotesk W01 Disp", Helvetica, Arial, sans-serif;
}

.tooltip_xyz {
    font: "Neue Haas Grotesk W01 Disp", Helvetica, Arial, sans-serif;
}
