body {
    font: 14px 'NeueHaasGroteskDisp Pro', Arial, Helvetica, sans-serif;
}

p {
    font: 14px 'NeueHaasGroteskDisp Pro', Arial, Helvetica, sans-serif;
}

h1 {
    font: 16px 'NeueHaasGroteskDisp Pro', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#content .info {
    height: 20px;
}

#content .map path {
    stroke: #000;
}

#content .bounding-box rect {
    fill: none;
    stroke: none;
}

#content .centroid {
    display: none;
}

#content .centroid circle {
    fill: red;
}

.map-wit-time-slider {
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#timeslide {
    display: none;
}

.sliderContainer {
    position: relative;
    display: none;
}


#range {
    display: none;
}


.ticks-cat {
    display: flex;
    justify-content: space-between;
    padding-left: 33%;
    padding-right: 33%;
}

.tick2 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 10%;
    background: gray;
    line-height: 0;
    margin-top: 3%;
    font-size: xx-small;
    font-weight: bold;
}



.ticks {
    display: none;
    justify-content: space-between;
    padding-left: 35%;
    padding-right: 35%;
}

.tick {
    position: relative;
    display: none;
    flex-direction: row;
    justify-content: center;
    width: 2px;
    background: gray;
    line-height: 0;
    margin-top: 3%;
    font-size: xx-small;
    font-weight: bold;
}

#sources {
    font: 14px font: 12px 'NeueHaasGroteskDisp Pro', Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
}

#infotext {
    font: 14px font: 12px 'NeueHaasGroteskDisp Pro', Arial, Helvetica, sans-serif;
}

#unseen {
    font: 14px font: 12px 'NeueHaasGroteskDisp Pro', Arial, Helvetica, sans-serif;
    display: none;
}

#legend {
    text-align: center;
}

h1 {
    font: 14px font: 12px 'NeueHaasGroteskDisp Pro', Arial, Helvetica, sans-serif;
    text-align: center;
}

p {
    font: 14px font: 12px 'NeueHaasGroteskDisp Pro', Arial, Helvetica, sans-serif;
    text-align: center;
}

img {
    height: 1vh;
    width: 30vw;
}

#legend {
    margin-top: 2%;
    margin-left: 0%;
    margin-bottom: 2%;
}
