#topic04-vis01 {
    width: 100%;
    height: 500px;
}

body {
    font-family: 'NeueHaasGroteskDisp Pro', Arial, Helvetica, sans-serif;
    font-weight: normal;
	fill: #000;
	color: #666;
}

svg_0401 {
    display: block;
    margin: auto;
}

.axis_0401 {
    font-family: 'NeueHaasGroteskDisp Pro', Arial, Helvetica, sans-serif;
    font-weight: normal;
	fill: #000;
	color: #666;
}

.legend_0401 {
    font-family: 'NeueHaasGroteskDisp Pro', Arial, Helvetica, sans-serif;
    font-weight: normal;
	fill: #000;
	color: #666;
}

.title_0401 {
    font-family: 'NeueHaasGroteskDisp Pro', Arial, Helvetica, sans-serif;
    font-weight: normal;
	fill: #000;
	color: #666;
}

.data_source_0401 {
    font-family: 'NeueHaasGroteskDisp Pro', Arial, Helvetica, sans-serif;
    font-style: italic;
	font-weight: lighter;
  	text-decoration: underline;
	fill: #000;
	color: #666;
}

.axis_0401 path,
.axis_0401 line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis_0401 path {
    display: none;
}

.line_0401 {
    fill: none;
    stroke-width: 2px;
}

.line_dashed_0401 {
    fill: none;
    stroke-width: 2px;
}
